# ---
# ABYSS CONFIG
# ---

# ABYSS API
ABYSS_ADDR=http://127.0.0.1:8000

# ABYSS DATABASE
ABYSS_DB_HOST=127.0.0.1
ABYSS_DB_PORT=5432
ABYSS_DB_SCHEMA=public
ABYSS_DB_NAME=postgres
ABYSS_DB_USER=postgres
ABYSS_DB_PASSWORD=123456

# ---
# GITEA CONFIG
# ---

GITEA_HOST=
GITEA_TOKEN=

# ---
# WOODPECKER CONFIG
# ---

WOODPECKER_HOST=
WOODPECKER_TOKEN=
